# Xcode / generated project
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
build/
.build/

# Swift Package Manager
Packages/
Package.resolved
.swiftpm/

# macOS
.DS_Store

# Misc
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
